
<div id="typed">
    <p><span class="arrow">&#62;</span> ^1000 Hi there, ^1000 I'm a <a href="https://github.com/gianfaye" target="_blank"><span id="whatami">web designer &amp; developer</span></a> based in the Philippines. 
    <br><span class="arrow">&#62;</span> ^1000 My current interests are ^1000 the <a href="https://www.instructables.com/member/gianfaye/" target="_blank"><span class="ifocus">maker culture</span></a> ^1000 and ^500 <span class="ifocus"><a href="https://bugcrowd.com/gianfaye" target="_blank"><span class="ifocus">cybersecurity</span></a></span>.
    <br><span class="arrow">&#62;</span> ^1000 This site is a collective of <a href="/projects"><span class="ifocus">my works</span></a>, ^1000 <a href="/blog"><span class="ifocus">ideas</span></a> ^1000 and <a href="/bio"><span class="ifocus">autodidactism</span></a><a href="/colophon.html"><span class="ifocus">_</span></a>
    </p>
</div>
<div id="about"></div>