
<div id="clients">
	<h2>Clients Managed</h2> 
    <ul>
        <li><a href="http://cnnphilippines.com/" target="_blank"><img src="/assets/images/home/clients-logo-cnn-philippines.jpg"></a></li>
        <li><a href="http://www.knightfrank.com/" target="_blank"><img src="/assets/images/home/clients-logo-knight-frank.jpg"></a></li>
        <li><a href="http://www.fareastsoho.com/" target="_blank"><img src="/assets/images/home/clients-logo-far-east-soho-pte-ltd.jpg"></a></li>
        <li><a href="https://www.uol.com.sg/home" target="_blank"><img src="/assets/images/home/clients-logo-uol-group-limited.jpg"></a></li>
        <li><a href="https://homethomsonthree.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-thomson-three.jpg"></a></li>
        <li><a href="https://ripplebay.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-ripple-bay.jpg"></a></li>
        <li><a href="https://70stpatricks.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-70-st-patricks.jpg"></a></li>
        <li><a href="https://homethetembusu.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-tembusu.jpg"></a></li>
        <li><a href="https://sky11.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-sky11.jpg"></a></li>
        <li><a href="https://thesiena.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-siena.jpg"></a></li>
        <li><a href="http://pulpmagazinelive.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-magazine.jpg"></a></li>
        <li><a href="http://pulpliveworld.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-live-world.jpg"></a></li>
    </ul>
</div>