<!-- <div class="container-narrow"> -->
  <div id="clients">
    <div class="client-header">
      <h2>Worked on Projects for</h2> 
    </div>
    <div class="client-portfolio">
      <ul>
        <li>
          <img src="/assets/images/home/clients-logo-cnn-philippines.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-turner.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-rcbc.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-department-of-tourism.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-traveloka.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-uratex.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-astellas.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-dmci-leasing.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-sanicare.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-bevi.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-go-asia-entertainment.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-prudence-foundation.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-orkide.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-knight-frank.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-far-east-soho-pte-ltd.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-uol-group-limited.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-70-st-patricks.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-the-siena.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-ripple-bay.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-the-tembusu.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-thomson-three.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-sky11.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-pulp-magazine.jpg">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-pulp-live-world.jpg">
        </li>
      </ul>
    </div>
    <!-- <section class="responsive slider">
      <div>
          <a href="http://cnnphilippines.com/" target="_blank"><img src="/assets/images/home/clients-logo-cnn-philippines.jpg"></a>
      </div>
      <div>
          <a href="http://www.knightfrank.com/" target="_blank"><img src="/assets/images/home/clients-logo-knight-frank.jpg"></a>
      </div>
      <div>
          <a href="http://www.fareastsoho.com/" target="_blank"><img src="/assets/images/home/clients-logo-far-east-soho-pte-ltd.jpg"></a>
      </div>
      <div>
          <a href="https://www.uol.com.sg/home" target="_blank"><img src="/assets/images/home/clients-logo-uol-group-limited.jpg"></a>
      </div>
      <div>
          <a href="https://homethomsonthree.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-thomson-three.jpg"></a>
      </div>
      <div>
          <a href="https://ripplebay.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-ripple-bay.jpg"></a>
      </div>
      <div>
          <a href="https://70stpatricks.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-70-st-patricks.jpg"></a>
      </div>
      <div>
          <a href="https://homethetembusu.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-tembusu.jpg"></a>
      </div>
      <div>
          <a href="https://sky11.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-sky11.jpg"></a>
      </div>
      <div>
          <a href="https://thesiena.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-siena.jpg"></a>
      </div>
      <div>
          <a href="http://pulpmagazinelive.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-magazine.jpg"></a>
      </div>
      <div>
          <a href="http://pulpliveworld.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-live-world.jpg"></a>
      </div>
    </section> -->
  </div>
<!-- </div> -->