<!-- <div class="container-narrow"> -->
  <div id="clients">
    <div class="client-header">
      <h2>Worked on Projects for</h2> 
    </div>
    <div class="client-portfolio">
      <ul>
        <li>
          <img src="/assets/images/home/clients-logo-cnn-philippines.jpg" alt="CNN Philippines">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-turner.jpg" alt="Turner Broadcasting System">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-rcbc.jpg" alt="RCBC">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-department-of-tourism.jpg" alt="Department of Tourism">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-traveloka.jpg" alt="Traveloka">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-uratex.jpg" alt="Uratex">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-astellas.jpg" alt="Astellas">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-dmci-leasing.jpg" alt="DMCI Leasing">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-sanicare.jpg" alt="Sanicare">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-bevi.jpg" alt="BEVI">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-go-asia-entertainment.jpg" alt="Go Asia Entertainment">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-prudence-foundation.jpg" alt="Prudence Foundation">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-orkide.jpg" alt="Orkide Villa">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-knight-frank.jpg" alt="Knight Frank">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-far-east-soho-pte-ltd.jpg" alt="Far East Soho">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-uol-group-limited.jpg" alt="UOL Groups Ltd">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-70-st-patricks.jpg" alt="70 St. Patrick's Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-the-siena.jpg" alt="The Siena Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-ripple-bay.jpg" alt="Ripple Bay Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-the-tembusu.jpg" alt="The Tembusu Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-thomson-three.jpg" alt="Thomson Three Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-sky11.jpg" alt="Sky@Eleven Condominium">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-pulp-magazine.jpg" alt="PULP Magazine">
        </li>
        <li>
          <img src="/assets/images/home/clients-logo-pulp-live-world.jpg" alt="PULP Live World">
        </li>
      </ul>
    </div>
    <!-- <section class="responsive slider">
      <div>
          <a href="http://cnnphilippines.com/" target="_blank"><img src="/assets/images/home/clients-logo-cnn-philippines.jpg"></a>
      </div>
      <div>
          <a href="http://www.knightfrank.com/" target="_blank"><img src="/assets/images/home/clients-logo-knight-frank.jpg"></a>
      </div>
      <div>
          <a href="http://www.fareastsoho.com/" target="_blank"><img src="/assets/images/home/clients-logo-far-east-soho-pte-ltd.jpg"></a>
      </div>
      <div>
          <a href="https://www.uol.com.sg/home" target="_blank"><img src="/assets/images/home/clients-logo-uol-group-limited.jpg"></a>
      </div>
      <div>
          <a href="https://homethomsonthree.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-thomson-three.jpg"></a>
      </div>
      <div>
          <a href="https://ripplebay.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-ripple-bay.jpg"></a>
      </div>
      <div>
          <a href="https://70stpatricks.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-70-st-patricks.jpg"></a>
      </div>
      <div>
          <a href="https://homethetembusu.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-tembusu.jpg"></a>
      </div>
      <div>
          <a href="https://sky11.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-sky11.jpg"></a>
      </div>
      <div>
          <a href="https://thesiena.com.sg/" target="_blank"><img src="/assets/images/home/clients-logo-the-siena.jpg"></a>
      </div>
      <div>
          <a href="http://pulpmagazinelive.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-magazine.jpg"></a>
      </div>
      <div>
          <a href="http://pulpliveworld.com/" target="_blank"><img src="/assets/images/home/clients-logo-pulp-live-world.jpg"></a>
      </div>
    </section> -->
  </div>
<!-- </div> -->