<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://gianfaye.com{{ page.url }}/" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="/assets/images/thumb.jpg" />
    {% for category in page.categories %}<meta property="article:tag" content="{{ category }}" />{% endfor %}
    {% if page.description %}
    <meta property="og:description" content="{{ page.description | truncatewords: 50 | strip_newlines | escape_once }}" />
    <meta name="description" content="{{ page.description | truncatewords: 50 | strip_newlines | escape_once }}" />
    <meta name="twitter:description" content="{{ page.description | truncatewords: 50 | strip_newlines | escape_once }}" />
    {% else %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 50 | strip_newlines | escape_once }}" />
    <meta name="twitter:description" content="{{ content | strip_html | truncatewords: 50 | strip_newlines | escape_once }}" />
    {% endif %}
    <meta name="article:author" content="{{ site.author.name }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@GianFaye" />
    <meta name="twitter:creator" content="@GianFaye" />
    <meta name="twitter:domain" content="GianFaye.com" />
    <title>{{ page.title }}</title>

    <!--
       _________________________________
      |:::::::::::::;;::::::::::::::::::|
      |:::::::::::'~||~~~``:::::::::::::|
      |::::::::'   .':     o`:::::::::::|
      |:::::::' oo | |o  o    ::::::::::|
      |::::::: 8  .'.'    8 o  :::::::::|
      |::::::: 8  | |     8    :::::::::|
      |::::::: _._| |_,...8    :::::::::|
      |::::::'~--.   .--. `.   `::::::::|
      |:::::'     =8     ~  \ o ::::::::|
      |::::'       8._ 88.   \ o::::::::|
      |:::'   __. ,.ooo~~.    \ o`::::::|
      |:::   . -. 88`78o/:     \  `:::::|
      |::'     /. o o \ ::      \88`::::|   "HAI"
      |:;     o|| 8 8 |d.        `8 `:::|
      |:.       - ^ ^ -'           `-`::|
      |::.                          .:::|
      |:::::.....           ::'     ``::|
      |::::::::-'`-        88          `|
      |:::::-'.          -       ::     |
      |:-~. . .                   :     |
      | .. .   ..:   o:8      88o       |
      |. .     :::   8:P     d888. . .  |
      |.   .   :88   88      888'  . .  |
      |   o8  d88P . 88   ' d88P   ..   |
      |  88P  888   d8P   ' 888         |
      |   8  d88P.'d:8  .- dP~ o8       |   :3
      |      888   888    d~ o888    LS |
      |_________________________________|

    -->

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/assets/themes/geekyll/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/assets/themes/geekyll/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>

    <!-- Le fav and touch icons -->
    <link rel="icon" type="image/png" href="/assets/themes/geekyll/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/images/avatar.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/avatar.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/avatar.jpg">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

    <!-- Add typing animation script -->
    <script src="/assets/themes/geekyll/scripts/typed.min.js" type="text/javascript"></script>
    <script src="/assets/themes/geekyll/scripts/scripts.js" type="text/javascript"></script>

  </head>

  <body>
    <header>
      <img src="/assets/images/avatar.jpg" title="Gian Faye Paguirigan">
      <a class="brand" href="{{ HOME_PATH }}"><h2><span class="name-bracket">[</span> GIAN FAYE PAG<span id="ui">UI</span>RIGAN<span class="name-bracket">]</span></h2></a>
      <h1 class="hidden-sm">web geekery &amp; autodidactism</h1>
    </header>
      <div id="menu" class="hidden-xs">
        <nav class="menu-relative">
        <ul>
          <li><a href="/bio" title="Bio"><span>&raquo;</span>  _BIO</a></li>
          <li><a href="/projects" title="Projects"><span>&raquo;</span>  _PROJECTS</a></li>
          <li><a href="/posts" title="Blog"><span>&raquo;</span>  _BLOG</a></li>
          <li><a href="/archive" title="Archive"><span>&raquo;</span>  _ARCHIVE</a></li>
          <li><a href="/colophon" title="Colophon"><span>&raquo;</span>  _COLOPHON</a></li>
        </ul>
        </nav>
      </div>
    <div class="container-narrow">
      <div class="content">
        {{ content }}
      </div>
      <footer title="This is just the tip of the iceberg.">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">&copy;</a> {{ site.time | date: '%Y' }} {{ site.author.name }}</span>
          <span class="hidden-xs">|</span> <span class="hidden-xs">Twitter: <a href="http://www.twitter.com/GianFaye" target="_blank" title="Gian Faye's Twitter">@gianfaye</a></span> <span class="hidden-xs">|</span> <span class="show-xs"><br></span> Email: <a rel="nofollow" href="mailto:hello@gianfaye.com" target="_blank" title="Gian Faye's email"><script language="javascript"><!-- 
          document.write("hello" + "@" + "gianfaye.com"); 
          //--> 
          </script></a>
          <span class="show-xs"><br></span>
          <span class="hidden-xs">|</span> <a href="/rss" title="RSS">RSS</a> &bullet; <a href="/atom" title="Atom">Atom</a> &bullet; <a href="/beer" title="Buy me a beer!">Buy me a beer!</a>
          <span class="show-xs" id="menu-footer"><br>
            <a href="/bio" title="Bio">BIO</a> &bullet; <a href="/projects" title="Projects">PROJECTS</a> &bullet; <a href="/posts" title="Blog">BLOG</a> <br> <a href="/archive" title="Archive">ARCHIVE</a> &bullet; <a href="/colophon" title="Colophon">COLOPHON</a>
          </span>
        </p>
      </footer>
    </div>
    {% include JB/analytics %}
  </body>
</html>
