<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8">
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:url" content="http://gianfaye.com{{ page.url }}/" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://gianfaye.com/assets/images/thumb.jpg" />
    <meta property="og:description" content="Designing and building for the users." />
    {% for category in page.categories %}<meta property="article:tag" content="{{ category }}" />{% endfor %}
    {% if page.description %}
    <meta name="description" content="{{ page.description | truncatewords: 50 | strip_newlines | escape_once }}" />
    <meta name="twitter:description" content="{{ page.description | truncatewords: 50 | strip_newlines | escape_once }}" />
    {% else %}
    <meta name="description" content="{{ content | strip_html | truncatewords: 50 | strip_newlines | escape_once }}" />
    <meta name="twitter:description" content="{{ content | strip_html | truncatewords: 50 | strip_newlines | escape_once }}" />
    {% endif %}
    <meta name="article:author" content="{{ site.author.name }}" />
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@GianFaye" />
    <meta name="twitter:creator" content="@GianFaye" />
    <meta name="twitter:domain" content="GianFaye.com" />
    {% if page.title %}
    <title>{{ page.title }} &bull; Gian Faye Paguirigan</title>
    {% else %}
    <title>Gian Faye Paguirigan</title>
    {% endif %}

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="/assets/themes/geekyll/css/fonts.css" rel="stylesheet" type="text/css">
    <link href="/assets/themes/geekyll/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet' type='text/css'>

    <!-- Le fav and touch icons -->
    <link rel="icon" type="image/png" href="/assets/themes/geekyll/images/favicon.ico" />
    <link rel="apple-touch-icon" href="/assets/images/avatar.jpg">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/avatar.jpg">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/avatar.jpg">

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <header>
      <img src="/assets/images/avatar.jpg" title="Gian Faye Paguirigan">
      <a class="brand" href="{{ HOME_PATH }}"><h2><span class="name-bracket">[</span> GIAN FAYE PAG<span id="ui">UI</span>RIGAN<span class="name-bracket">]</span></h2></a>
      <!-- <h1 class="hidden-sm">web geekery &amp; autodidactism</h1> -->
      <h1 class="hidden-sm">geek of all trades</h1>
    </header>
      <div id="menu" class="hidden-xs">
        <nav class="menu-relative">
        <ul>
          <li><a href="/" title="Bio"><span>&raquo;</span>  _HOME</a></li>
          <li><a href="/bio" title="Bio"><span>&raquo;</span>  _BIO</a></li>
          <li><a href="/projects" title="Projects"><span>&raquo;</span>  _PROJECTS</a></li>
          <li><a href="/blog" title="Blog"><span>&raquo;</span>  _BLOG</a></li>
          <li><a href="/colophon" title="Colophon"><span>&raquo;</span>  _COLOPHON</a></li>
        </ul>
        </nav>
      </div>
    <div class="container-wide">
      <div class="content">
        {{ content }}
      </div>
      <footer title="This is just the tip of the iceberg.">
        <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">&copy;</a> {{ site.time | date: '%Y' }} {{ site.author.name }}
          <span class="hidden-xs">|</span> <!-- <span class="hidden-xs">Twitter: <a href="http://www.twitter.com/GianFaye" target="_blank" title="Gian Faye's Twitter">@gianfaye</a></span> <span class="hidden-xs">|</span> --> <span class="show-xs"><br></span> Email: <a rel="nofollow" href="mailto:hello@gianfaye.com" target="_blank" title="Gian Faye's email"><script><!-- 
          document.write("hello" + "@" + "gianfaye.com"); 
          //--> 
          </script></a>
          <span class="show-xs"><br></span>
          <!--span class="hidden-xs">|</span> <a href="/rss" title="RSS">RSS</a> &bullet; <a href="/atom" title="Atom">Atom</a> &bullet; <a href="/beer" title="Buy me a beer!">Buy me a beer!</a-->
          <span class="show-xs" id="menu-footer"><br>
            <a href="/" title="Home">HOME</a> &bullet; <a href="/bio" title="Bio">BIO</a> &bullet; <a href="/projects" title="Projects">PROJECTS</a> <br> <a href="/blog" title="Blog">BLOG</a> &bullet; <a href="/colophon" title="Colophon">COLOPHON</a>
          </span>
        </p>
      </footer>
    </div>
    {% include JB/analytics %}

    <!-- Add typing animation script -->
    <script src="/assets/themes/geekyll/scripts/typed.min.js"></script>
    <script src="/assets/themes/geekyll/scripts/scripts.js"></script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- Slick JS Carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/themes/geekyll/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/themes/geekyll/slick/slick-theme.css"/>
    <script src="/assets/themes/geekyll/slick/slick.min.js"></script>

    <script>
      $(document).ready(function(){
        $('.responsive').slick({
          dots: true,
          infinite: true,
          speed: 300,
          autoplay: true,
          slidesToShow: 4,
          slidesToScroll: 4,
          arrows: true,
          responsive: [
            {
              breakpoint: 1024,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3,
                infinite: true,
                dots: true
              }
            },
            {
              breakpoint: 600,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 480,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: false
              }
            }
            // You can unslick at a given breakpoint now by adding:
            // settings: "unslick"
            // instead of a settings object
          ]
        });
      });
    </script>
  </body>
</html>
