<div id="projects">
  <div class="project-item" id="strawberryjam">
    <div class="project-details">
      <div class="project-title">
        <span class="name-bracket left">[</span>
        <h3>Strawberryjam</h3>
        <span class="name-bracket right">]</span>
      </div>
      <div class="project-subtitle">
        <h4>OFFICIAL WEBSITE // AUG 2014</h4>
      </div>
      <div class="project-description">
        <p>The official website for <strong>Strawberryjam Creative Services</strong>, a Philippine-based graphic design and print company specializing in advertising and marketing collaterals.</p>
      </div>
      <div class="project-type">
        <div class="project-type-item">
          <h5>+ WEB DESIGN &amp; DEV'T</h5>
        </div>
        <div class="project-type-item">
          <h5>+ CMS: WORDPRESS</h5>
        </div>
      </div>
      <div class="project-launch">
        <a href="/project/strawberryjam" target="_blank">
          &lt; View Project &gt;<br>
        </a>
      </div>
    </div>
    <div class="project-image no-mobile">
      <div class="project-image-container">
        <p>
          <a href="/project/strawberryjam">
            <img src="/assets/images/home/project-strawberryjam.png" alt="Strawberryjam Website"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr class="project-divider">
  <div class="project-item old" id="bazooka-rocks-3">
    <div class="project-details">
      <div class="project-title">
        <span class="name-bracket left">[</span>
        <h3>BAZOOKA ROCKS 3</h3>
        <span class="name-bracket right">]</span>
      </div>
      <div class="project-subtitle">
        <h4>OFFICIAL WEBSITE // MAY 2014</h4>
      </div>
      <div class="project-description">
        <p>The official event website for the 3rd year of <strong>BAZOOKA ROCKS Festival</strong> powered by PULP Live World Production.</p>
      </div>
      <div class="project-type">
        <div class="project-type-item">
          <h5>+ WEB DESIGN &amp; DEV'T</h5>
        </div>
      </div>
      <div class="project-launch">
        <a href="/project/bazooka-rocks-3" target="_blank">
          &lt; View Project &gt;<br>
         <!--span>www.bazookarocks.com</span-->
        </a>
      </div>
    </div>
    <div class="project-image no-mobile">
      <div class="project-image-container">
        <p>
          <a href="/project/bazooka-rocks-3">
            <img src="/assets/images/home/project-bazooka-rocks-3.png" alt="BAZOOKA ROCKS 3 Website"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr class="project-divider">
  <div class="project-item old" id="bazooka-rocks-2">
    <div class="project-details">
      <div class="project-title">
        <span class="name-bracket left">[</span>
        <h3>BAZOOKA ROCKS 2</h3>
        <span class="name-bracket right">]</span>
      </div>
      <div class="project-subtitle">
        <h4>OFFICIAL WEBSITE // MAY 2013</h4>
      </div>
      <div class="project-description">
        <p>The official event website for the 2nd year of <strong>BAZOOKA ROCKS Festival</strong> brought to you by PULP Live World Production.</p>
      </div>
      <div class="project-type">
        <div class="project-type-item">
          <h5>+ WEB DESIGN &amp; DEV'T</h5>
        </div>
      </div>
      <div class="project-launch">
        <a href="/project/bazooka-rocks-2" target="_blank">
          &lt; View Project &gt;<br>
         <!--span>www.bazookarocks.com</span-->
        </a>
      </div>
    </div>
    <div class="project-image no-mobile">
      <div class="project-image-container">
        <p>
          <a href="/project/bazooka-rocks-2">
            <img src="/assets/images/home/project-bazooka-rocks-2.png" alt="BAZOOKA ROCKS 2 Website"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr class="project-divider">
  <div class="project-item" id="pulp-magazine">
    <div class="project-details">
      <div class="project-title">
        <span class="name-bracket left">[</span>
        <h3>PULP MAGAZINE</h3>
        <span class="name-bracket right">]</span>
      </div>
      <div class="project-subtitle">
        <h4>OFFICIAL WEBSITE // OCT 2012</h4>
      </div>
      <div class="project-description">
        <p>The website served as a preview portal to the latest <strong>PULP Magazine</strong> issue featuring the latest music-related news and editorial columns by PULP writers and contributors.</p>
      </div>
      <div class="project-type">
        <div class="project-type-item">
          <h5>+ WEB DESIGN &amp; DEV'T</h5>
        </div>
        <div class="project-type-item">
          <h5>+ CUSTOM CMS</h5>
        </div>
      </div>
      <div class="project-launch">
        <!-- <a href="http://pulpmagazinelive.com" target="_blank" title="Visit www.pulpmagazinelive.com">
          &lt; Launch Project &gt;<br>
        <span>www.pulpmagazinelive.com</span>
        </a> -->
        <a href="/project/pulp-magazine-live" target="_blank">
          &lt; View Project &gt;<br>
        </a>
      </div>
    </div>
    <div class="project-image no-mobile">
      <div class="project-image-container">
        <p>
          <a href="/project/pulp-magazine-live">
            <img src="/assets/images/home/project-pulp-magazine.png"  alt="PULP Magazine Website"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr class="project-divider">
  <div class="project-item" id="pulp-live-world">
    <div class="project-details">
      <div class="project-title">
        <span class="name-bracket left">[</span>
        <h3>PULP LIVE WORLD</h3>
        <span class="name-bracket right">]</span>
      </div>
      <div class="project-subtitle">
        <h4>OFFICIAL WEBSITE // FEB 2012</h4>
      </div>
      <div class="project-description">
        <p>The website served as the information and promotional site of <strong>PULP Live World Production</strong>'s upcoming events and past shows. Built with an online shop for their merchandise. </p>
      </div>
      <div class="project-type">
        <div class="project-type-item">
          <h5>+ WEB DESIGN &amp; DEV'T</h5>
        </div>
        <div class="project-type-item">
          <h5>+ CMS: JOOMLA W/ VIRTUEMART</h5>
        </div>
      </div>
      <div class="project-launch">
        <!-- <a href="http://pulpliveworld.com" target="_blank" title="Visit www.pulpliveworld.com">
          &lt; Launch Project &gt;<br>
         <span>www.pulpliveworld.com</span>
        </a> -->
        <a href="/project/pulp-live-world" target="_blank">
          &lt; View Project &gt;<br>
        </a>
      </div>
    </div>
    <div class="project-image no-mobile">
      <div class="project-image-container">
        <p>
          <a href="/project/pulp-live-world">
            <img src="/assets/images/home/project-pulp-live-world.png" alt="PULP Live World Website"/>
          </a>
        </p>
      </div>
    </div>
  </div>
  <hr class="project-divider">
  <div class="project-item old"></div>
</div>
<br>