
<div id="projects">
	<div class="project-item" id="pulp-live-world">
		<div class="project-details">
			<div class="project-title">
				<h3>BAZOOKA ROCKS II</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // 2013</h4>
			</div>
			<div class="project-description">
				<p>The microsite is the official event page for the 2nd year of Bazooka Rocks Festival by PULP Live World.</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ UX &amp; UI DESIGN</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://bazookarocks.com" target="_blank">
					&lt; Launch Project &gt; 
				 <span>www.bazookarocks.com</span>
				</a>
			</div>
		</div>
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/bazooka-rocks-2"><img src="/assets/images/br-shot.png"/></a>
				</p>
			</div>
		</div>
	</div>
	<div class="project-item" id="pulp-magazine">
		<div class="project-details">
			<div class="project-title">
				<h3>PULP MAGAZINE</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // 2012</h4>
			</div>
			<div class="project-description">
				<p>The website serves as a preview portal to the latest PULP Magazine issue and is developed with a custom content management system.</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ UX &amp; UI DESIGN</h5>
				</div>
				<div class="project-type-item">
					<h5>+ PHP/MySQL</h5>
				</div>
				<div class="project-type-item">
					<h5>+ MAP WIDGET</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://pulpmagazinelive.com" target="_blank">
					&lt; Launch Project &gt; 
				<span>www.pulpmagazinelive.com</span>
				</a>
			</div>
		</div>
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/pulp-magazine-live"><img src="/assets/images/pml-shot_140.png"/></a>
				</p>
			</div>
		</div>
	</div>
	<div class="project-item" id="pulp-live-world">
		<div class="project-details">
			<div class="project-title">
				<h3>PULP LIVE WORLD</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // 2012</h4>
			</div>
			<div class="project-description">
				<p>The website serves as the information and promotional site of PULP Live World's upcoming events and as an archive of their past shows. I also built an online shop for their merchandise. </p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ UX &amp; UI DESIGN</h5>
				</div>
				<div class="project-type-item">
					<h5>+ CMS: JOOMLA</h5>
				</div>
				<div class="project-type-item">
					<h5>+ E-COM: VIRTUEMART</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://pulpliveworld.com" target="_blank">
					&lt; Launch Project &gt; 
				 <span>www.pulpliveworld.com</span>
				</a>
			</div>
		</div>
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/pulp-live-world"><img src="/assets/images/plw-shot.png"/></a>
				</p>
			</div>
		</div>
	</div>
</div>