
<div id="projects">
	<div class="project-item" id="fosasia">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/fosasia" title="Field Outsource Asia, Inc."><img src="/assets/images/home/project-fosasia.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>FOSASIA</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // SEP 2014</h4>
			</div>
			<div class="project-description">
				<p>The official website for Field Outsource Asia, Inc., a Philippine-based fieldmarketing services company with client portfolio including Unilab, Cignal, Yellowcab, Jobstreet, among others.</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ CMS: WORDPRESS</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://fosasia.com" target="_blank" title="Visit www.fosasia.com">
					&lt; Launch Project &gt; <br>
				 <span>www.fosasia.com</span>
				</a>
			</div>
		</div>
	</div>
	<div class="project-item" id="strawberryjam">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/strawberryjam" title="Strawberryjam Creative Services, Inc."><img src="/assets/images/home/project-strawberryjam.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>STRAWBERRYJAM</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // AUG 2014</h4>
			</div>
			<div class="project-description">
				<p>The official website for Strawberryjam Creative Services, Inc., a Philippine-based graphic design and print company specializing in advertising and marketing collaterals.</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ CMS: WORDPRESS</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://strawberryjam.ph" target="_blank" title="Visit www.strawberryjam.ph">
					&lt; Launch Project &gt; <br>
				 <span>www.strawberryjam.ph</span>
				</a>
			</div>
		</div>
	</div>
	<div class="project-item" id="bazooka-rocks-3">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/bazooka-rocks-3" title="Bazooka Rocks 3"><img src="/assets/images/home/project-bazooka-rocks-3.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>BAZOOKA ROCKS 3</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // MAY 2014</h4>
			</div>
			<div class="project-description">
				<p>The official event website for the 3rd year of BAZOOKA ROCKS Festival powered by PULP Live World Production</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://bazookarocks.com/2014" target="_blank" title="Visit www.bazookarocks.com">
					&lt; Launch Project &gt; <br>
				 <span>www.bazookarocks.com</span>
				</a>
			</div>
		</div>
	</div>
	<div class="project-item" id="bazooka-rocks-2">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/bazooka-rocks-2" title="Bazooka Rocks II"><img src="/assets/images/home/project-bazooka-rocks-2.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>BAZOOKA ROCKS 2</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // MAY 2013</h4>
			</div>
			<div class="project-description">
				<p>The official event website for the 2nd year of BAZOOKA ROCKS Festival brought to you by PULP Live World Production</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://bazookarocks.com/2013" target="_blank" title="Visit www.bazookarocks.com">
					&lt; Launch Project &gt; <br>
				 <span>www.bazookarocks.com</span>
				</a>
			</div>
		</div>
	</div>
	<div class="project-item" id="pulp-magazine">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/pulp-magazine-live" title="PULP Magazine Live"><img src="/assets/images/home/project-pulp-magazine.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>PULP MAGAZINE</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // OCT 2012</h4>
			</div>
			<div class="project-description">
				<p>The website serves as a preview portal to the latest PULP Magazine issue featuring the latest music-related news and editorial columns by PULP writers and contributors.</p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ PHP/MySQL</h5>
				</div>
				<div class="project-type-item">
					<h5>+ MAP WIDGET</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://pulpmagazinelive.com" target="_blank" title="Visit www.pulpmagazinelive.com">
					&lt; Launch Project &gt; <br>
				<span>www.pulpmagazinelive.com</span>
				</a>
			</div>
		</div>
	</div>
	<div class="project-item" id="pulp-live-world">
		<div class="project-image">
			<div class="project-image-container">
				<p>
					<a href="/project/pulp-live-world" title="PULP Live World"><img src="/assets/images/home/project-pulp-live-world.png"/></a>
				</p>
			</div>
		</div>
		<div class="project-details">
			<div class="project-title">
				<h3>PULP LIVE WORLD</h3>
			</div>
			<div class="project-subtitle">
				<h4>OFFICIAL WEBSITE // FEB 2012</h4>
			</div>
			<div class="project-description">
				<p>The website serves as the information and promotional site of PULP Live World Production's upcoming events and past shows. Built an online shop for their merchandise. </p>
			</div>
			<div class="project-type">
				<div class="project-type-item">
					<h5>+ WEB DESIGN &amp; DEV'T</h5>
				</div>
				<div class="project-type-item">
					<h5>+ CMS: JOOMLA</h5>
				</div>
				<div class="project-type-item">
					<h5>+ E-COM: VIRTUEMART</h5>
				</div>
			</div>
			<div class="project-launch">
				<a href="http://pulpliveworld.com" target="_blank" title="Visit www.pulpliveworld.com">
					&lt; Launch Project &gt; <br>
				 <span>www.pulpliveworld.com</span>
				</a>
			</div>
		</div>
	</div>
</div>
<br>